<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排期后台管理系统</title>
    <script type="text/javascript" src="/hyd/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/hyd/js/bootStrap_util.js"></script>

    <script type="text/javascript" src="/hyd/js/easyui_util.js"></script>
    <script type="text/javascript" src="/hyd/js/kindeditor-4.1.10/kindeditor-all.js"></script>
    <link rel="styleSheet" href="/hyd/js/kindeditor-4.1.10/themes/default/default.css" type="text/css">

    <script type="text/javascript" src="/hyd/js/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/hyd/js/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="/hyd/js/easyui1.5/themes/default/easyui.css" type="text/css">
    <link rel="stylesheet" href="/hyd/js/easyui1.5/themes/icon.css" type="text/css">

    <script type="text/javascript" src="/hyd/js/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/hyd/js/bootstrap/bootstrap3/css/bootstrap.css"/>

    <!-- 引入选项卡的js、css -->
    <link rel="stylesheet" href="/hyd/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
    <script type="text/javascript" src="/hyd/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>

    <link rel="stylesheet" href="/hyd/js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="/hyd/js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/hyd/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <script src="/hyd/js/bootstrap/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<div class="container-fluid">
    <form id="productForm"  class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="userInputTime" class="col-sm-2 control-label">放映时间</label>
                <div class="col-sm-4">
                    <input type="text" name="time" class="form-control date" id="userInputTime">
                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputBrandId" class="col-sm-2 control-label">座位总数</label>
                <div class="col-sm-4">
                    <input type="text" name="time" class="form-control date" id="inputBrandId">
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">

</script>
</html>