<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>放映厅管理</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <!--
    <link rel="stylesheet" type="text/css" href="styles.css">
    -->
    <script type="text/javascript" src="/dyl/js/easyui/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/dyl/js/easyui/easyui_util.js"></script>

    <script type="text/javascript" src="/dyl/js/easyui/kindeditor-4.1.10/kindeditor-all.js"></script>
    <link rel="styleSheet" href="/dyl/js/easyui/kindeditor-4.1.10/themes/default/default.css" type="text/css">

    <script type="text/javascript" src="/dyl/js/easyui/easyui1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/dyl/js/easyui/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" href="/dyl/js/easyui/easyui1.5/themes/default/easyui.css" type="text/css"></link>
    <link rel="stylesheet" href="/dyl/js/easyui/easyui1.5/themes/icon.css" type="text/css"></link>

    <script type="text/javascript" src="/dyl/js/easyui/util-js.js"></script>
</head>
<body>
<div id="toolBar">
    <a onclick="openCarDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
</div>
<table id="hallTable"></table>
<div id="HallDialog" class="easyui-dialog" data-options="title:'放映厅',modal:true,closed:true,
      buttons:[{
            text:'保存',
            palin:true,
            iconCls:'icon-save',
            handler:function(){
                saveHallForm();
            }
            },{
            text:'关闭',
            palin:true,
            iconCls:'icon-cancel',
            handler:function(){
                closeWindow();
            }
      }]" style="width:300px;height:400px">
    <div style="margin: 10px 0px opx 10px">
        <form id="HallForm" action="">
            <table>
                <tr>
                    <td>放映厅</td>
                    <td><input type="text" class="easyui-textbox" name="name"></td>
                </tr>
                <tr>
                    <td>放映厅类型</td>
                    <td><select id="selectType" class="easyui-combobox" name="typeId" style="width:100px">

                    </select></td>
                </tr>
            </table>
        </form>
    </div>
</div>


<div id="HallSeatDialog" class="easyui-dialog" data-options="title:'座位详情',modal:true,closed:true,
      buttons:[{
            text:'关闭',
            palin:true,
            iconCls:'icon-cancel',
            handler:function(){
                closeWindowTwo();
            }
      }]" style="width:700px;height:400px">
            <table id="hallSeatTable" style="height: 100%"></table>
</div>


<div id="AddSeatDialog" class="easyui-dialog" data-options="title:'放映厅',modal:true,closed:true,
      buttons:[{
            text:'保存',
            palin:true,
            iconCls:'icon-save',
            handler:function(){
                saveSeatForm();
            }
            },{
            text:'关闭',
            palin:true,
            iconCls:'icon-cancel',
            handler:function(){
                closeWindowThree();
            }
      }]" style="width:300px;height:200px">
    <div style="margin: 10px 0px opx 10px">
        <form id="AddSeatForm" action="">
            <table>
                <tr>
                    <td>行号</td>
                    <td>
                        <input type="hidden" id="hellSeatId">
                        <input type="text" class="easyui-textbox" id="seatRow"></td>
                </tr>
                <tr>
                    <td>列号</td>
                    <td><input type="text" class="easyui-textbox" id="seatColumn"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
<script type="text/javascript">

    var Windowid = 0;

    $(function(){
        show();

    })


    $("#selectType").combobox({
        url:'/dyl/queryHallType',
        valueField:'id',
        textField:'name',
        editable:false
    })

    function openCarDialog(){
        $("#name").prop('reset','');
        $("#seats").form('reset');
        $("#selectType").combobox();
        $("#HallDialog").dialog({
            closed:false,
            title:'新增放映厅',
            close:false,
            iconCls:'icon-add'
        })
    }


    function saveHallForm(){

            $("#HallForm").form('submit',{
                url:'/dyl/addHall',
                success:function(data){
                    $("#HallDialog").dialog('close');
                    show();
                }
            })

    }

    function saveSeatForm(hellSeatId){

        $.ajax({
            type: "POST",
            url: "/dyl/addSeat",
            data: "seatRow=" + $("#seatRow").val() + "&seatColumn=" + $("#seatColumn").val() + "&hellSeatId=" + Windowid,
            success: function (data) {
                if(data){
                    $.messager.alert("提示！", "座位添加成功！");
                    $("#AddSeatDialog").dialog('close');
                    show();
                }else {
                    $.messager.alert("提示！", "座位添加失败！");
                    $("#AddSeatDialog").dialog('close');
                    show();
                }
            }
        })


    }

    function closeWindow(){
        show();
        $("#HallDialog").dialog('close');


    }

    function closeWindowTwo(){
        show();
        $("#HallSeatDialog").dialog('close');


    }

    function closeWindowThree(){
        show();
        $("#AddSeatDialog").dialog('close');


    }



    function show(){
        $("#hallTable").datagrid({
            url:'/dyl/queryHall',
            method:'post',
            toolbar:'#toolBar',
            pagination:true,
            pageSize:5,
            pageList:[2,4,5,6,8,10],
            pageNumber:1,
            fit:true,
            columns:[
                [
                {field:'123',checkbox:true},
                {field:'id',title:'放映厅编号'},
                {field:'name',title:'放映厅名称'},
                {field:'typeName',title:'类型'},
                {field:'seats',title:'座位总数'},
                {field:'456',title:'操作',formatter:function(value,row,index){
                        var html = "<a href='javascript:querySeat("+row.id+");'>座位详情</a>&nbsp;&nbsp;&nbsp;";
                        html+= "<a href='javascript:addSeat("+row.id+");'>新增座位</a>";
                        return html;
                    }}
            ]
            ]
        })

    }

    function addSeat(id){
        Windowid = id;
        $("#AddSeatForm").form('reset');
        $("#AddSeatForm").form('clear');
        $("#AddSeatDialog").dialog({
            closed:false,
            title:'新增座位',
            close:false,
            iconCls:'icon-add'
        })
    }


    function querySeat(id){
        $("#HallSeatDialog").dialog({
            closed:false,
            title:'座位详情',
            close:false,
            iconCls:'icon-edit'
        });
        showSeat(id);

    }


    function showSeat(id) {
        $("#hallSeatTable").datagrid({
            url: '/dyl/querySeat?hallId='+id,
            method: 'post',
            pagination:true,
            pageSize:5,
            pageList:[2,4,5,6,8,10],
            pageNumber:1,
            fit: true,
            columns: [
                [
                    {field: '123', checkbox: true},
                    {field: 'id', title: '放映厅编号'},
                    {field: 'hallId', title: '放映厅名称'},
                    {field: 'seatRow', title: '行'},
                    {field: 'seatColumn', title: '列'},
                    {
                        field: 'isActive', title: '是否可用', formatter: function (value, row, index) {
                            return value == 0 ? "可用" : "不可以";
                        }
                    },
                    {
                        field: 'isLovers', title: '是否为情侣座', formatter: function (value, row, index) {
                            return value == 0 ? "是" : "否";
                        }
                    }
                ]
            ]
        })
    }

    function loadCarForm(id){
        $.ajax({
            url:'/dyl/querySeat',
            type:'post',
            data:{
                hallId:id
            },
            dataType:'json',
            success:function(data){
                $("#CarForm").form('load',data);
            },
            error:function(){
                alert("查看失败");
            }
        })
    }

</script>
</html>